<!DOCTYPE html>
<html>
	<meta charset="utf-8">
	<head>
	<title></title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
<body>
	<header>
		<h1><%= title%></h1>
	</header>
	<nav>
		<span><a  href="/">home</a></span>
		<span><a href="/login">login</a></span>
		<span><a  href="/reg">register</a></span>
	</nav>
<artcle>