<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- <link rel='stylesheet' href='../public/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include head  %>
    <p>这是主页</p>
    <%- include footer  %>
  </body>
</html>
